/* PROBLEMS TO FIX IN ORDER OF URGENCY:
Images too small for tablet and mobile display.
Text not centering for tablet and mobile display.
No white box showing up around each indiv-artwork-box (and sidebar)
Sidebar links (sidebar-links-container) are wonky on desktop sidebar.
Vertical POP image stuck as horizontal (or if rotated, it goes outside of the div)
*/


* {
  background-color: #F7F4F5;
  /* border: 1px solid red; */
}

.menu-container {
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.menu-links {
  width: 900px;
  display: flex;
  justify-content: space-between;
}

a {
  display: flex;
  justify-content: flex-end;
  font-family: 'Nanum Gothic', sans-serif;
}

a:link {
  color: #84A59D;
  text-decoration: underline;
}
a:visited {
  color: #7F636E;
  text-decoration: underline;
}
a:hover {
  color: #F6BD60;
  text-decoration: underline;
}

.artwork-box {
  display: flex;
  flex-direction: column;
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left:-70px;
  margin-top:-50px;
}

.artwork-image {
  max-width: 50%;
  height: auto;
  padding: 20px 10px 10px 20px;
}

.artwork-info {
  border: 1px solid #343F3E;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 15px;
  padding: 20px 10px 10px 20px;
}

.indiv-artwork-box {
  background-color: #F7F4F5;
  margin-bottom: 40px;
}

.rotate-image {
  -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}



/* MEDIA QUERIES START HERE */


/* Mobile */
@media only screen and (max-width: 400px) {
  .sidebar-container {
    display: none;
    }

    h1 {
      display: flex;
      font-family: 'Allura', cursive;
      font-size: 25px;
      justify-content: center;
    }

    .artwork-info {
      justify-content: center;
    }

}

/* Tablet */
@media only screen and (min-width: 401px) and (max-width: 960px) {

  .sidebar-container {
    display: none;
    }

    .artwork-box, .indiv-artwork.box {
    position: absolute;
    justify-content: center;
    align-items: center;
    }

    .artwork-info {
      justify-content: center;
    }

    h1 {
      display: flex;
      font-family: 'Allura', cursive;
      font-size: 30px;
      justify-content: center;
    }
}

/* Desktop */
@media only screen and (min-width: 961px) {
  .menu-container {
    display: none;
  }

  h1 {
    display: flex;
    font-family: 'Allura', cursive;
    font-size: 35px;
    justify-content: center;
  }

  .sidebar-container {
      background-color: ##F7F4F5;
      border: 1px solid #343F3E;
      border-top-left-radius:5px;
      border-top-right-radius:3px;
      left:100px;
      margin-top:150px;
      margin-left:10px;
      opacity:1;
      position:fixed;
      width:150px;
      z-index:9999;
  }

  .sidebar-container h2 {
    background-color: ##F7F4F5;;
    font-family: 'Abril Fatface', serif;
    font-size: 30px;
    text-align: center;
  }

  .sidebar-links-container: {
    background-color: ##F7F4F5;;
    position:fixed;
    margin-top:150px;
    margin-left:10px;
    opacity:1;
    z-index:9999;
  }

  .sidebar-links-container a, ul {
    background-color: ##F7F4F5;
    list-style-position: inside;
    padding-left: 0;
    float: left;
}
