* {
  background-color: #F7F4F5;
  /* border: 1px solid red; */
}

.menu-container {
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.menu-links {
  width: 900px;
  display: flex;
  justify-content: space-between;
}

.sidebar-container {
  padding: 5px;
}

a {
  display: flex;
  justify-content: flex-end;
  font-family: 'Nanum Gothic', sans-serif;
}

a:link {
  color: #84A59D;
  text-decoration: underline;
}
a:visited {
  color: #7F636E;
  text-decoration: underline;
}
a:hover {
  color: #F6BD60;
  text-decoration: underline;
}

.collections-box {
  display: flex;
  flex-direction: column;
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left:-70px;
  margin-top:-50px;
}

.collections-image {
  height: auto;
  padding: 20px 10px 10px 20px;
}

.collections-info {
  border: 1px solid #343F3E;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 15px;
  padding: 20px 10px 10px 20px;

}

.indiv-collections-box {
  background-color: #F7F4F5;
  margin-bottom: 40px;
}

/* MEDIA QUERIES START HERE */


/* Mobile */
@media only screen and (max-width: 400px) {
  .sidebar-container {
    display: none;
    }

    h1 {
      display: flex;
      font-family: 'Allura', cursive;
      font-size: 25px;
      justify-content: center;
    }

    .collections-image {
      max-width: 90%;
    }

    .collections-info {
      justify-content: center;
    }

    .collections-box, .indiv-collections.box {
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-left: -140px;
    }

}

/* Tablet */
@media only screen and (min-width: 401px) and (max-width: 960px) {

  .sidebar-container {
    display: none;
    }

    .collections-box, .indiv-collections.box {
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-left: -200px;
    }
    }

    .collections-image {
      max-width: 90%;
    }

    .collections-info {
      justify-content: center;
      margin-right: 25px;
    }

    h1 {
      display: flex;
      font-family: 'Allura', cursive;
      font-size: 30px;
      justify-content: center;
    }

}

/* Desktop */
@media only screen and (min-width: 961px) {
  .menu-container {
    display: none;
  }

  h1 {
    display: flex;
    font-family: 'Allura', cursive;
    font-size: 50px;
    justify-content: center;
  }


  .collections-info {
      margin-right: 200px;
  }

  .collections-image {
    max-width: 55%;
  }

  .sidebar-container {
      background-color: ##F7F4F5;
      border: 1px solid #343F3E;
      border-top-left-radius:5px;
      border-top-right-radius:3px;
      left:100px;
      margin-top:150px;
      margin-left:10px;
      opacity:1;
      position:fixed;
      width:200px;
      z-index:9999;
      word-wrap: normal;
  }

  .sidebar-container h2 {
    background-color: ##F7F4F5;;
    font-family: 'Abril Fatface', serif;
    font-size: 30px;
    text-align: center;
    word-wrap: normal;
  }

  .sidebar-links-container: {
    background-color: ##F7F4F5;;
    position:fixed;
    margin-top:150px;
    margin-left:10px;
    opacity:1;
    z-index:9999;
  }

  .sidebar-links-container a, ul {
    background-color: ##F7F4F5;
    list-style-position: inside;
    padding-left: 0;
    float: left;
  }
}
