* {
  background-color: #F7F4F5;
}

.menu-container {
  color: #fff;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.menu {
  width: 900px;
  display: flex;
  justify-content: space-between;
}

a {
  display: flex;
  justify-content: flex-end;
  font-family: 'Lato', sans-serif;
}

a:link {
  color: #84A59D;
  text-decoration: underline;
}
a:visited {
  color: #7F636E;
  text-decoration: underline;
}
a:hover {
  color: #F6BD60;
  text-decoration: underline;
}


.photos-page {
  margin-left: 20px;
}

/* Mobile */
@media only screen and (max-width: 400px) {
  .welcome-text {
    display: flex;
    font-family: 'Allura', cursive;
    font-size: 20px;
    justify-content: center;
  }

  .homepage-image {
    display: flex;
    justify-content: center;
    max-width: 200px;
  }

  .welcome-subtext {
    display: flex;
    font-family: 'Allura', cursive;
    font-size: 20px;
    justify-content: center;
  }
}

/* Tablet */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .welcome-text {
    display: flex;
    font-family: 'Allura', cursive;
    font-size: 25px;
    justify-content: center;
  }

  .homepage-image {
    display: flex;
    text-align: center;
  }

  .welcome-subtext {
    display: flex;
    font-family: 'Allura', cursive;
    font-size: 25px;
    justify-content: center;
  }
}

/* Desktop */
@media only screen and (min-width: 961px) {
  .welcome-text {
    display: flex;
    font-family: 'Allura', cursive;
    font-size: 30px;
    justify-content: center;
  }

  .homepage-image {
    display: flex;
    justify-content: center;
    max-width: 200px;
  }

  .welcome-subtext {
    display: flex;
    font-family: 'Allura', cursive;
    font-size: 30px;
    justify-content: center;
  }
}
